button{
    text-align: center;
}
p{
    text-align: center;
}
.field{
    width:25%;
}

.hint{
    opacity:0.5;
    text-align: center;
    
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
    text-align: center;
    text-size-adjust: 20px;
  }