<div *ngIf="product$ | async as product" id="div">
  <table mat-table>
      <tr mat-row>
        <td mat-cell class="bottomControls">
          <button mat-raised-button routerLink="/products" >Back</button>
        </td>
        <td mat-cell class="bottomControls">
          <button mat-raised-button (click)="delete(product)">Delete</button>
        </td>
      </tr>
    </table>
  <form [formGroup]="update" class="form" (ngSubmit)="updateProduct(update.value,product)">
    <table mat-table>
      <tr mat-row>
        <td mat-cell>
          <mat-form-field class="field">
            <p>Name: {{product.name}}</p> 
            <input matInput type="text" formControlName="name" (keyup)="nameValidation($event)">
            <mat-hint class="hint">
              Length must be between 5-20
            </mat-hint>
          </mat-form-field>
        </td>
      </tr> 
      <tr mat-row>
        <td mat-cell>
          <mat-form-field class="field">
            <p>Description: {{product.description}}</p>
            <input matInput type="text" formControlName="description" name="description" (keyup)="descriptionValidation($event)">
            <mat-hint class="hint">
              Length must be between 5-20
            </mat-hint>
          </mat-form-field>
        </td>
      </tr>
      <tr mat-row>
        <td mat-cell>
          <mat-form-field class="field">
            <p>Price: {{product.price}} (euro)</p>
            <input matInput type="number" formControlName="price"  name="price" (keyup)="priceValidation($event)">
            <mat-hint class="hint">
              Price must be between 10 - 1000
            </mat-hint>
          </mat-form-field>
        </td>
      </tr>
      <tr mat-row>
        <td mat-cell>
          <mat-form-field class="field">
            <p>Weight: {{product.weight}} (kg)</p>
            <input matInput type="number" formControlName="weight" name="weight" (keyup)="weightValidation($event)">
            <mat-hint class="hint">
              Weight must be between 10 - 1000
            </mat-hint>
          </mat-form-field>
        </td>
      </tr>
      <tr mat-row>
        <td mat-cell>
            <p>Category: {{product.productCategoryName}}</p>
            <select (change)="updateSelectedForCategory($event)" >
                <option *ngFor="let category of categories$ | async" [value]="category.id">{{category.name}}</option>
              </select>
        </td>
      </tr>
      <tr mat-row>
        <td mat-cell>
          <p>Supplier: {{product.supplierName}}</p>
          <select (change)="updateSelectedForSupplier($event)" >
            <option *ngFor="let supplier of suppliers$ | async" [value]="supplier.id">{{supplier.name}}</option>
          </select>
        </td>
      </tr>
      <tr mat-row *ngIf="validate()" class="updatebutton">
        <td mat-cell>
          <button class="updatebutton" mat-raised-button type="submit" >Update</button>
        </td>
      </tr>
      <tr mat-row *ngIf="!validate()" class="updatebutton">
        <td mat-cell>
          <button class="updatebutton" mat-raised-button type="submit" [disabled]="true" >Update</button>
        </td>
      </tr>
    </table>
  </form>
</div>